on:
    push:
        tags:
            - "v*"

name: Publish version

jobs:
    build:
        name: Create Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@master
            - name: Temp
              run: echo "This is a placeholder step."
